body {
    padding-top: 50px;
    padding-bottom: 20px;
}

footer {
    text-align: center;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
    margin-top: 150px;
}

a, a:hover {
    text-decoration: none;
}


/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */

select,
textarea {
    width: 100%;
    height: 80px;
    resize: none;
}

.black-line-underline-left {
    width: 45%;
    float: left;
    margin-top: 50px;
}

.black-line {
    width: 100%;
    height: 5px;
    background: #000000;
    border-radius: 5px;
    display: inline-block;
}

.green-line {
    width: 90%;
    background: #04954A;
    height: 4px;
    border-radius: 5px;
    margin: 0 auto;
}

.black-line-underline-right {
    width: 45%;
    float: right;
    margin-top: 50px;
}

.box {
    position: relative;
    display: flex;
    width: 200px;
    height: 200px;
    background-color: #ffffff;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    -o-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
    -moz-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
    -webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
    transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
    margin: auto;
    margin-bottom: 30px;
    flex-direction: column;
    text-align: center;
}

    .box::after {
        content: "";
        border-radius: 5px;
        position: absolute;
        z-index: -1;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        box-shadow: 0 5px 15px rgba(0,0,0,0.3);
        opacity: 0;
        -o-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
        -moz-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
        -webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
        transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
    }

    .box:hover {
        -ms-transform: scale(1.25, 1.25);
        -o-transform: scale(1.25, 1.25);
        -moz-transform: scale(1.25, 1.25);
        -webkit-transform: scale(1.25, 1.25);
        transform: scale(1.25, 1.25);
        cursor: pointer;
    }

        .box:hover::after {
            opacity: 1;
        }

    .box > img {
        object-fit: contain;
        width: 88px;
        margin: auto;
    }

.flex {
    display: flex;
    flex-wrap: wrap;
}

.cart {
    position: relative;
    bottom: 3px;
    left: 3px;
    text-decoration: none;
}

.logoff {
    padding-top: 11px;
    padding-bottom: 13px;
}

.clickable {
    transition: all 1.4s ease-in-out;
}

a:hover {
    text-decoration: none;
}

.menuitem {
    height: 350px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    margin: 10px;
    padding: 20px;
}

    .menuitem > div > a {
        text-align: center;
        color: #ffffff;
    }

.menu-img {
    height: 120px;
    width: 80%;
    margin: auto;
    text-align: center;
}

    .menu-img > img {
        object-fit: contain;
        margin: auto;
        max-width: 100%;
        max-height: 100%;
    }

.menuitem > h4 {
    text-align: center;
}

.menuitem > h5 {
    letter-spacing: normal;
    text-indent: 20px;
}

.item-count {
    background-color: red;
    color: white;
    height: 20px;
    width: 20px;
    border-radius: 20px;
    letter-spacing: normal;
    font-size: small;
    display: inline-block;
    position: relative;
    left: -20px;
    bottom: 15px;
}

    .item-count > p {
        text-align: center;
    }

.menuitem > div > .col-md-6 > h6, .menuitem > div > .col-md-6 > h5 {
    font-style: italic;
    text-align: right;
}

.x {
    background: #ff0000;
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    text-align: center;
    width: 20px;
    height: 20px;
    border-radius: 5px;
    padding-left: 3px;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: pointer;
}

tr {
    border-bottom: solid;
    border-color: rgb(238, 238, 238);
    border-width: 1px;
    height: 70px;
}

.btn > a {
    color: #ffffff;
    text-decoration: none;
}


.orderItem {
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    min-height: 70px;
    margin-bottom: 15px;
    display: flex;
    align-items: center;
    user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

.vl {
    width: 1px;
    background-color: rgba(0, 0, 0, 0.1);
    margin-top: 10px;
    margin-bottom: 10px;
    height: 60px;
}

.statusHeader {
    text-align: center;
    margin: auto;
    padding-bottom: 30px;
}

.green {
    color: #04954A;
}

.red {
    color: #b00000;
}

.has-paid {
    color: rgba(0, 0, 0, 0.1);
}

.phone {
    font-size: 9px;
    color: #04954A;
}

.has-paid:hover {
    color: #04954A;
}

.orderNum {
    text-align: center;
    color: #04954A;
    font-size: large;
}

.flex-row {
    display: flex;
    flex-direction: row;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.img-area {
    height: 200px;
    width: 300px;
    display: flex;
    align-items: flex-start;
    overflow: hidden;
}

.align-left {
    text-align: left !important;
}

.align-right {
    text-align: right !important;
}

.padding-bottom-large {
    padding-bottom: 50px;
}

.padding-bottom-medium {
    padding-bottom: 20px;
}

.padding-bottom-small {
    padding-bottom: 10px;
}

.padding-top-small {
    padding-top: 7px;
}

.padding-top-medium {
    padding-top: 20px;
}

.description {
    max-height: 100px;
    word-wrap: break-word;
    overflow-y: auto;
}

.menu-options {
    position: absolute;
    bottom: 40px;
    right: 0;
    left: 0;
}

.status-node {
    border-radius: 50%;
    min-height: 100px;
    min-width: 100px;
    background-color: #7f7f7f;
    position: relative;
    border: #fff 5px solid;
}

    .status-node::after {
        content: '';
        position: absolute;
        top: -10px;
        left: -10px;
        right: -10px;
        bottom: -10px;
        border: black 5px solid;
        border-radius: 50%;
    }

    .status-node > p {
        position: absolute;
        top: 20%;
        right: 10%;
        left: 10%;
        bottom: 10%;
        user-select: none;
        font-size: 3em;
        font-style: italic;
        color: #fff;
        text-align: center;
    }

.completed {
    background-color: #04954A !important;
}

.order-status {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: relative;
}

.tool-tip .tool-tip-text {
    visibility: hidden;
    width: 120px;
    background-color: rgba(0,0,0,0.9);
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
    bottom: 100%;
    left: 50%;
    margin-left: -60px;
    position: absolute;
    z-index: 1;
    transition: opacity 1s;
}

    .tool-tip .tool-tip-text::after {
        content: "";
        position: absolute;
        top: 100%;
        left: 50%;
        margin-left: -5px;
        border-width: 5px;
        border-style: solid;
        border-color: rgba(0,0,0,0.9) transparent transparent transparent;
    }



.tool-tip:hover .tool-tip-text {
    visibility: visible;
    opacity: 1;
}

.order-progress {
    height: 20px;
    width: 90%;
    margin: auto;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: #7f7f7f;
    position: absolute;
}

    .order-progress::after {
        content: "";
        position: absolute;
        border: black 5px solid;
        width: 100%;
        height: 200%;
        top: -10px;
    }

.order-progress-bar{
    height: 20px;
    width: 0px;
    transition: width 1s ease-in;
    position:absolute;
    margin-top:auto;
    margin-bottom: auto;
    top: 0;
    bottom: 0;
    background-color: #04954A;
    z-index: 0;
}

.status-2{
    width:50% !important;
}

.status-3{
    width:100% !important;
}
