body {
    padding-top: 50px;
    padding-bottom: 20px;
}

footer{
    text-align: center;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
    margin-top: 150px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.black-line-underline-left{
    width: 45%;
    float: left;
    margin-top: 50px;

}

.black-line{
    width:100%;
    height: 5px;
    background: #000000;
    border-radius:5px;
    display: inline-block;
}

.green-line {
    width: 90%;
    background: #04954A;
    height: 4px;
    border-radius: 5px;
    margin: 0 auto;
}

.black-line-underline-right {
    width: 45%;
    float: right;
    margin-top: 50px;
}

.box {
    position: relative;
    display: flex;
    width: 200px;
    height: 200px;
    background-color: #ffffff;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    -o-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
    -moz-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
    -webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
    transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
    margin: auto;
    margin-bottom: 30px;
    flex-direction: column;
    text-align: center;
}

    .box::after {
        content: "";
        border-radius: 5px;
        position: absolute;
        z-index: -1;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        box-shadow: 0 5px 15px rgba(0,0,0,0.3);
        opacity: 0;
        -o-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
        -moz-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
        -webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
        transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
    }

    .box:hover {
        -ms-transform: scale(1.25, 1.25);
        -o-transform: scale(1.25, 1.25);
        -moz-transform: scale(1.25, 1.25);
        -webkit-transform: scale(1.25, 1.25);
        transform: scale(1.25, 1.25);
        cursor: pointer;
    }

.box:hover::after{
    opacity: 1;
}

    .box > img {
        object-fit: contain;
        width: 88px;
        margin: auto;
    }

.flex{
    display: flex;
    flex-wrap: wrap;
}

.cart{
    position: relative;
    bottom: 3px;
    left: 3px;
    text-decoration: none;
}

.logoff{
    padding-top: 11px;
    padding-bottom: 13px;
}

.clickable {
    transition: all 1.4s ease-in-out;
}

a:hover{
    text-decoration: none;
}

.menuitem {
    height: 350px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    margin: 10px;
    padding: 20px;
}

    .menuitem > div > a {
        text-align: center;
        color: #ffffff;
    }

.menu-img {
    border: solid;
    border-color: #04954A;
    height: 120px;
    width: 80%;
    margin: auto;
}

    .menu-img > img {
        object-fit: contain;
        margin: auto;
        max-width: 100%;
        max-height: 100%;
    }
.menuitem > h4{
    text-align: center;
}

.menuitem > h5 {
    letter-spacing:normal;
    text-indent: 20px;
}

.item-count{
    background-color: red;
    color: white;
    height: 20px;
    width: 20px;
    border-radius: 20px;
    letter-spacing: normal;
    font-size: small;
    display: inline-block;
    position: relative;
    left: -20px;
    bottom: 15px;
}
.item-count > p {
    text-align: center;
}

.menuitem > div > .col-md-6 > h6, .menuitem > div > .col-md-6 > h5{
    font-style: italic;
    text-align: right;
}
