@model BatemanCafeteria.Models.Caf_InvoiceModel
@{
    ViewBag.Title = "OrderStatus";
}

<div>
    <h4>Menu Item</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Status
        </dt>

        <dd>
            @ViewBag.Status
        </dd>
        </dl>
</div>
